<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhatsappAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WhatsappAuto.Properties.Settings>
            <setting name="ProfilePath" serializeAs="String">
                <value>C:\Users\Krishna Teja\AppData\Local\Microsoft\Edge\User Data</value>
            </setting>
            <setting name="ProfileDirectory" serializeAs="String">
                <value>Profile 1</value>
            </setting>
            <setting name="StartingMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="EndingMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="ContactName" serializeAs="String">
                <value>BookMyShow</value>
            </setting>
            <setting name="EdgeDriverLocation" serializeAs="String">
                <value>F:\Krishna Teja\Softwares\edgedriver_win64\msedgedriver.exe</value>
            </setting>
            <setting name="Headless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverallCount" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListOfMessages" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecificWords" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>ktmisgreat</value>
            </setting>
        </WhatsappAuto.Properties.Settings>
    </userSettings>
</configuration>