<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhatsappAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WhatsappAuto.Properties.Settings>
            <setting name="ProfilePath" serializeAs="String">
                <value>C:\Users\Krishna Teja\AppData\Local\Microsoft\Edge\User Data\Default</value>
            </setting>
            <setting name="ProfileName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="StartingMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="EndingMessage" serializeAs="String">
                <value />
            </setting>
        </WhatsappAuto.Properties.Settings>
    </userSettings>
</configuration>